/* cards */
.product-card {
  /* max-width: 75vw; */
  padding: 2rem;
  padding-top: 1rem;
  /* margin: 1rem auto; */
  /* margin-top: 5rem; */
  display: grid;
  grid-template-areas:
    "pic first first"
    "second second connect"
    "third third connect";

  background-color: #ecd9af;
  color: #252525;
}
.product-card-subheader {
  background-color: #252525;
  color: #ecd9af;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 3px;
  font-size: 1.2rem;
}
.product-card-header {
  color: #252525;
  padding-bottom: 0.5rem;
}
.product-btn {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.first-row {
  padding: 1rem 0;
  text-align: center;
  display: flex;
}
.first-row-image {
  grid-area: pic;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  margin: 1rem;
}
.first-row-text {
  text-align: center;
  grid-area: first;
  padding: 1rem 0 0 1rem;
}
.second-row {
  grid-area: second;
  padding: 1rem;
}

.third-row {
  grid-area: third;
  padding: 1rem;
}

.connect-callapse {
  grid-area: connect;
  writing-mode: vertical-rl;
  text-orientation: upright;
  max-width: 1rem;
  height: auto;
  width: auto;
}
.collapse-width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.connect-column {
  display: grid;
  grid-area: connect;
  grid-template-areas: "icons header";
  justify-content: center;
  align-items: center;
}
 .connect-text {
   max-width:fit-content; 
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 0.25rem;
  border-radius: 10px;
  background-color: #252525;  
  color: #ecd9af;
  grid-area: header;
  font-size: 1.4rem;
} 
.icon-row {
  grid-area: icons;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ecd9af;
  max-width: 50%;
  height: 75%;
}
/* .card-icon-container {
  padding: 1rem;
} */
.card-icon {
  color: #252525;
}
.icon {
  padding: 1rem auto;
}
.card-button {
  background-color: black;
  border:1px solid #ecd9af;
  color: #ecd9af;
  padding: 0 2rem;
}
.card-button:hover {
  color: black;
  background-color: #ecd9af;
  border: 1px solid black;
}
