/* 
* cards 
*/
.product-card {
  padding: 2rem;
  padding-top: 1rem;
  display: grid;
  grid-template-areas:
    "pic first first"
    "second second second"
    "third third third"
    "connect connect connect";

  background-color: #ecd9af;
  color: #252525;
}
.product-card-subheader {
  width: fit-content;
  padding: 0.25rem;

  border-radius: 3px;
  font-size: 1.2rem;
  background-color: #252525;
  color: #ecd9af;
}
.product-card-header {
  padding-bottom: 0.5rem;

  color: #252525;
}
.product-btn {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;

  text-align: center;
}
.first-row {
  display: flex;
  padding: 1rem 0;

  text-align: center;
}
.first-row-image {
  grid-area: pic;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  margin: 1rem;
}
.first-row-text {
  grid-area: first;
  padding: 1rem 0 0 1rem;

  text-align: center;
}
.second-row {
  grid-area: second;
  padding: 1rem;
}

.third-row {
  grid-area: third;
  padding: 1rem;
}

.connect-callapse {
  grid-area: connect;
  max-width: 1rem;
  height: auto;
  width: auto;

  writing-mode: vertical-rl;
  text-orientation: upright;
}
.collapse-width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.connect-column {
  display: grid;
  grid-area: connect;
  grid-template-areas: 
  "header"
  "icons";
  justify-content: center;
  align-items: center;
}
.connect-text {
  font-size: 1.4rem;
  grid-area: header;
  padding: 0.25rem;
  margin: 0 auto 1rem auto;;
  max-width: fit-content;

  background-color: #252525;
  border-radius: 10px;
  color: #ecd9af;
}
.icon-row {
  display: flex;
  max-width: none;
  width: 50vw;
  grid-area: icons;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.card-icon {
  color: #252525;
}
.icon {
  padding: 1rem auto;
}
.card-button {
  padding: 0 2rem;

  background-color: black;
  border: 1px solid #ecd9af;
  color: #ecd9af;
}
.card-button:hover {
  color: black;
  background-color: #ecd9af;
  border: 1px solid black;
}
