/* intro */
.intro {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
  margin-top: 3rem;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/conference-photo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-text {
  max-width: 75vw;
  padding: 1rem;

  color: #ecd9af;
  border-radius: 16px;
  text-align: center;
}
.intro-text > h1, h4 {
  font-family:  serif !important;
}
.intro-text > h1 {
  font-size: 3.5rem;
}
