/* market */

.market-header {
  text-align: right;
  padding: 2rem 5rem 1rem;
  color: #ecd9af;
  font-weight: 900;
}
.market-tab {
  width: 95%;
  margin-top: 2rem;
}
.market-card-container {
  place-items: center;

  background-color: #ecd9af;
  border-radius: 3px;
  text-align: left;
}
.market-text {
  font-family: "Montserrat", serif;
  font-weight: 500;
}
.market-title {
  padding: 1rem;
  width: 30%;

  background-color: black;
  border-radius: 2px;
  color: #ecd9af;
  text-align: center;
}
.market-icon {
  text-align: center;
}
.market-button {
  background-color: black;
  border: 1px solid #ecd9af;
  border-radius: 3px;
  color: #ecd9af;
}