/* market */

.market-header {
  text-align: right;
  padding: 2rem 5rem 1rem;
  color: #ecd9af;
  font-weight: 900;
}
/* .market-card {
  width: 28vw;
  height: 35vh;
  word-wrap: break-word;
  padding: 1rem;
  
  text-align: center;
  border-radius: 16px;
  border: 1px solid black;
  background-color: #f2f3ea;
} */
.market-tab {
  width: 95%;
  margin-top: 2rem;
}
.market-card-container {
  border-radius: 5px;
  text-align: left;
  place-items: center;
}
.market-text {
  font-family: "Montserrat", serif;
  font-weight: 500;
}
.market-title {
  padding: 1rem;
  font-weight: 900;
  width: 30%;
}
.market-icon {
  text-align: center;
}
.market-button {
  margin: 1.5rem auto;
  padding: 0.3rem 2rem;
  background-color: black;
  color: #ecd9af;
  border: 1px solid #ecd9af;
  border-radius: 3px;
}

/* the below styling is not being used */
.market-section {
  background-color: #ecd9af;
}
.market-container {
  background-color: #ebf1f2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  /* border-radius: 16px; */
  /* display: flex;
  flex-direction: row; */
  /* align-items:center;
  justify-content: space-evenly; */
  /* height: 75vh; */
}
.market-card-container {
  background-color: #ecd9af;
}
