/* market */

.market-header {
  text-align: right;
  padding: 2rem 5rem 1rem;
  color: #ecd9af;
  font-weight: 900;
}
.market-tab {
  width: 95%;
  margin-top: 2rem;
}
.market-card-container {
  border-radius: 5px;
  text-align: left;
  place-items: center;
}
.market-text {
  font-family: "Montserrat", serif;
  font-weight: 500;
}
.market-title {
  text-align: center;
  padding: 1rem;
  width: 30%;
  background-color: black;
  color: #ecd9af;
}
.market-icon {
  text-align: center;
}
.market-button {
  margin: 1.5rem auto;
  padding: 0.3rem 2rem;
  background-color: black;
  color: #ecd9af;
  border: 1px solid #ecd9af;
  border-radius: 3px;
}