/*
* default / product list / @media
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: Serif;
  font-weight: 600;
}
p {
  font-family: "Montserrat", serif;
  font-weight: 700;
}

.App {
  background-color: #252525;
}
/* Navbar */
.nav-container {
  background-color: #252525 !important;
}
.nav-text{
  font-family: Serif;
  color: #ecd9af !important;
  font-weight: 900;
}

/* product list */
.product-list-container {
  margin-top:3rem;
}
.product-list-header {
  padding: 2rem 5rem;
  color: #ecd9af;
}

@media screen and (max-width: 600px) {
  .card {
    grid-template-areas:
      "pic"
      "first"
      "second"
      "third"
      "connect";
    text-align: center;
    max-width: none;
  }
  .first-row-image {
    margin: 1rem auto;
  }
  .connect-column {
    grid-template-columns: none;
    grid-template-areas:
      "header"
      "icons";
    justify-content: space-evenly;
  }

  .connect-text {
    max-width: none;
    writing-mode: initial;
    text-orientation: initial;
    margin: 2rem auto;
    padding: 0;
    grid-area: header;
  }
  .icon-row {
    width: 70vw;
    grid-area: icons;
    flex-flow: row;
    justify-content: space-evenly;
  }
  .product-card {
    padding: 0;
  }
}
