* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* app styling */
.App {
  background-color: #f3ae3b;
}

/* nav */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  background-color: #1c5162;
  color: white;
}
.nav-link {
  padding: 0 1rem;
  color: #e1eaca;
  text-decoration: none;
}
.nav-title {
  padding: 0;
  margin: 0.5rem;
  color: #e1eaca;
  font-size: 1.5rem;
  text-decoration: none;
}
/*
*HOME COMPONENT
*/

/* intro */
.intro {
  background: url("./images/conference-photo.jpeg") no-repeat center/cover;
  background-color: slategray;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.intro-text {
  max-width: 30vw;
  padding: 1rem;

  background-color: lightblue;
  color: black;
  border-radius: 16px;
  text-align: center;
}
/* market */
.market-section {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  height: 75vh;
}
.market-card {
  text-align: center;
  background-color: lightsteelblue;
  max-width: 28vw;
  max-height: max-content;
}

/* cards */
.card {
  max-width: 85vw;
  padding: 2rem;
  margin: 1rem auto;
  display: grid;
  grid-template-areas:
    "pic first first"
    "connect second second"
    "connect third third";

  background-color: #e1eaca;
  border-radius: 16px;
  border: 2px solid #1c5162;
}
.product-btn {
  text-align: center;
  padding-bottom: 1rem;
}
.first-row {
  padding: 1rem 0;
  text-align: center;
  display: flex;
}
.first-row-image {
  grid-area: pic;

  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 1rem;
}
.first-row-text {
  text-align: center;
  grid-area: first;
  padding: 1rem 0 0 1rem;
}
.second-row {
  grid-area: second;
}

.third-row {
  text-align: right;
  grid-area: third;
}
.connect-column {
  display: grid;
  grid-template-columns: 1rem 1fr;
  /* text-align: center; */
  /* padding-bottom: 2rem; */
  grid-area: connect;
}
.connect-text {
  max-width: 1rem;
  word-wrap: break-word;
  /* margin: 0; */
  margin: auto 0;
  padding: 0;
}
.icon-row {
  /* grid-area: connect; */
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 2rem; */
}
.icon {
  padding: 1rem auto;
}
